# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db
backend/__pycache__/database.cpython-314.pyc
backend/__pycache__/database.cpython-314.pyc
backend/__pycache__/__init__.cpython-314.pyc
backend/__pycache__/auth.cpython-314.pyc
uploads/1771307669.395871_67c28a1d-a135-4fc0-891d-713f83f48562.png
